<div class="holder">
	<canvas id="myChart"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
	var indicators = {
    "FOUNDATION": [
        ["Sustainable Pace", 17.89, 3.61, 1.61, 1.61, 1.11, 3.36, 3.36, -0.36, -2.26, -2.32, -2.36, 2.41, -2.55, -2.05, -1.49, -1.91, -2.52, -2.03, -1.05, -1.23, 1.23, 1.23, -1.23, 1.23, 11.23, 11.23, -11.23, -5.59, -5.59, -5.59, -5.59, -5.59, -5.59, -5.59, 1.11, 0.96, 0.96, 0.96, 0.96, 0.96, 1.48, -1.71, -1.14, -0.57, -0.84],
    ]
}
	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
		type: 'radar',
		data: {
			labels:["Vision & Purpose", "Goals & Outcomes", "Quarterly Roadmap", "Monthly/Release", "Weekly/Iteration", "Roles & Expectations", "Generalizing Specialists", "Product Owner", "Team", "Stakeholder", "Predictable Velocity", "Time to Market", "Value Delivered", "Quality", "Response to Change", "Effective Facilitation", "Leadership", "Impediment Mgmt", "Leadership", "Technical Expertise", "Engagement", "Backlog Mgmt.", "Leadership", "Leadership", "Develop People", "Process Imp.", "Happiness", "Colaboration", "Trust & Respect", "Creativity & Innovation", "Accountability", "Sustainable Pace", "Self Organization", "Technical Excellence", "Planning & Estimating", "Effective Meetings", "Size & Skills", "Allocation & Stabililty", "Workspace"],
			datasets: [{
				label: '# of Votes',
				data: [80, 65, 63, 72, 81, 87, 85, 76, 80, 85, 20, 57, 53, 70, 77, 80, 81, 82, 83, 84, 76, 75, 77, 81, 72, 72, 85, 85, 84, 85, 65, 81, 75, 74, 40, 77, 80, 65, 76],
				backgroundColor: 'transparent',
				borderColor: [
					'rgba(0,0,255,1',
				],
				borderWidth: 2
			}]
		},
		options: {
        scale: {
            ticks: {
                suggestedMin: 0,
                suggestedMax: 100
            }
        }
    }
	});
</script>